@media(max-width: 640px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /*navbar*/
    .mainnavbar {
        font-size: 1em;
    }

    /*banner accueil*/
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.3em;
    }
    /*test*/
    .container-institut {
        flex-direction: column;
        width: 400px;
        max-width: 400px;
        height: 700px;
        margin: 0;
        padding: 0;
    }
    .container-institut .container-img, {
        max-width: 400px;
    }
    .container-institut .container-img img {
        /* width: 350px; */
        max-width: 350px;
        max-height: 280px;
    }

    .container-institut .container-title-1 {
        margin: 20px;
    }

    .container-institut .container-title-1 p {
        padding-left: 0;
    }
    .container-institut .container-title-1 .container-txt {
        margin: 0;
        width: 300px;
    }

    /*carte cadeau*/
    .container-cadeau, .container-cadeau .cadeau div img {
        width: 400px;
        height: 600px;
        max-width: 400px;
 
    }
    .container-cadeau .cadeau {
        display: flex;
        flex-direction: column;
    }


    .container-cadeau .cadeau .p-cadeau  p {
        font-size: 0.9em;
    }

    /*OTHERS PAGES*/
    /*container intro epilation/maquillage/soinscorps*/
    .container-intro {
        min-height: 280px;
    }

    .container-intro div p {
        padding-top: 18px;
    }

    /*intro page soinsvisage simplement*/
    .intro-sv {
        height: 400px;
        min-height: 440px;
    }

    /*page contact form*/
    form {
        width: 300px;
    }

    input,
    textarea {
        max-width: 300px;
    }

    /*googlemap page contact*/
    iframe {
        margin: 20px 0 0 0;
        width: 100%;
        min-height: 400px;
    }

    /*end googlemap*/
}