@media(max-width: 640px) {
    body {
        width: 480px;
    }

    /*banner accueil*/
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    /*end banner accueil*/
    /*test*/
    .container-institut {
        width: 460px;
        height: 800px;
        display: flex;
        flex-direction: column;
    }

    .container-institut .container-img {
        width: 460px;
        height: 400px;
        margin-bottom: 20px;
        margin-right: 8px;
    }

    .container-institut .container-img img {
        max-height: 400px;
        max-width: 460px;
    }

    .container-institut .container-title-1 {
        margin-right: 105px;
    }

    /*end test*/
    /*prestations*/

    /*end prestations*/
    /*carte cadeau*/
    .container-cadeau {
        width: 480px;
        height: 400px;
    }

    .container-cadeau .cadeau {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .container-cadeau .cadeau .p-cadeau p {
        font-size: 0.9em;
    }

    /*end carte cadeau*/
    /*container intro epilation/soinsvisage/soinscorps*/
    .container-intro {
        height: 240px;
        width: 100%;
    }

    .container-intro div>p {
        padding-top: 18px;
    }

    /*intro soinsvisage simplement*/
    #intro-media {
        height: 360px;
    }

    /*end intro soinsvisage simplement/*
    /*end container intro epilation/soinsvisage/soinscorps*/
    /*googlemap*/
    iframe {
        margin: 20px 0 0 0;
        width: 480px;
        height: 400px;
    }

    /*end googlemap*/
}