@media(max-width: 640px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mainnavbar {
        font-size: 1em;
    }
    
    /*container intro epilation/maquillage/soinscorps*/
    .container-intro {
        min-height: 280px;
    }

    .container-intro div p {
        padding-top: 18px;
    }

    /*intro page soinsvisage simplement*/
    .intro-sv {
        height: 400px;
        min-height: 440px;
    }

    /*page contact form*/
    form {
        width: 300px;
    }
    input, textarea {
        max-width: 300px;
    }

    /*googlemap page contact*/
    iframe {
        margin: 20px 0 0 0;
        width: 100%;
        min-height: 400px;
    }
    /*end googlemap*/
}