* {
    padding: 0; margin: 0; box-sizing: border-box;
}
body {
	/* height: 900px; */
}
/*banner + button-->*/
header {
	background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
    font-family: 'Great Vibes', cursive;
	font-size: 60px;
	margin-bottom: 30px;
}

h3 {
    font-family: 'Mali', cursive;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover {
	cursor: pointer;
}
/*end banner + button-->*/
/*navbar*/
.mainnavbar {
    margin-top: 8px;
    /* background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%); */
    width: 100%;
	margin-left: 0;
	margin-right: 0;
    height: 40px;
	border: none;
	font-family: 'Mali', cursive;
	font-size: 1.2em;
    /* border-radius: 50px; */
}
.mainnavbar .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.mainnavbar a {
    text-decoration: none;
    color: #333;
    text-shadow: 1px 1px 1px #333;
}
/*end navbar*/ 
/*test*/
.container-institut {
	width: 1080px;
	height: 500px;
	/* background-color: rgba(255, 0, 0, 0.295); */
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.container-institut .container-img img {
	height: 500px;
	border-top: solid 2px rgb(180, 180, 180);
	border-left: solid 2px rgb(180, 180, 180);
}

.container-institut .container-title-1 {
	background-image: linear-gradient( 135deg, #08080869 10%, #00000017 60%);
	height: 380px;
	width: 300px;
	color: #333;
	margin-left: 50px;
}
.container-institut .container-title-1 > p {
	font-size: 1.2em;
	font-family: 'Mali', cursive;
	text-align: center;
	padding-top: 8px;
	padding-left: 40px;
}
.container-institut .container-title-1 .container-txt {
	background:rgba(255, 0, 0, 0.295);
	height: 360px;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.9em;
	font-family: 'Mali', cursive;
	margin-left: 25px;
}
/*test*/
/*prestations*/
.container-prestations {
	width: 90%;
	height: 600px;
	margin-top: 80px;
	margin-left: 15%;
	/* background-image: url("../ressources/images/photo16.png");
	background-repeat: no-repeat; */
	/* background-size: cover; */
}
.container-prestations .place-prestations {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container-prestations .place-prestations-1 {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.container-prestations .prestations {
	width: 200px;
	height: 200px;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	border-radius: 50%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 20px 0 #0000003b;
	/* text-shadow: 1px 1px 1px #333; */
	font-family: 'Mali', cursive;
	color: #333;
}
.container-prestations .place-prestations .prestations div{
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.container-prestations .place-prestations-1 .prestations div{
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	box-shadow: 0 3px 20px 0 #0000003b;
}
/*end prestations*/
/*carte cadeau*/
.container-cadeau {
	width: 1080px;
	height: 400px;
	background-image: linear-gradient( 135deg, #08080869 10%, #00000017 60%);
	/* border: solid 1px #333; */
	box-shadow: 0 3px 50px 0 #000000;
}
.container-cadeau .cadeau{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.container-cadeau .cadeau div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.container-cadeau .cadeau .p-cadeau {
	display: flex;
	flex-direction: column;
	font-family: 'Mali', cursive;
}
.container-cadeau .cadeau .p-cadeau .lien-cadeau {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	font-size: 1em;
}
.container-cadeau .cadeau .p-cadeau p {
	font-size: 1.1em;
}
.container-cadeau .cadeau .p-cadeau .lien-cadeau a {
	color: #333;
}
/*end carte cadeau*/
/*footer*/
footer {
	background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	align-items: flex-end;
	border-radius: 85% 85% 0 0 / 30%;
	margin-top: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.logo-footer {
	text-align: center;
	height: 50px;
	color: #FFF;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-footer  a {
	text-decoration: none;
	color: #333;
}
/*end footer*/