body {
	margin: 0;
	padding: 0;
	width: 100%;
}

/*banner + button-->*/
header {
	background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 3.8em;
	margin-bottom: 30px;
}

h3 {
	font-family: 'Mali', cursive;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
	cursor: pointer;
}

/*end banner + button-->*/
/*navbar*/
.mainnavbar {
	margin-top: 8px;
	/* background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%); */
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 40px;
	border: none;
	font-family: 'Mali', cursive;
	font-size: 1.2em;
	/* border-radius: 50px; */
}

.mainnavbar .navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
}

.mainnavbar a {
	text-decoration: none;
	color: #333;
	text-shadow: 1px 1px 1px #333;
}

/* .mainnavbar .navbar .transition-prestations:hover:after {
	transition: all 5s;
} */

/*end navbar*/
/*test*/
.container-institut {
	width: 1080px;
	height: 500px;
	/* background-color: rgba(255, 0, 0, 0.295); */
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-institut .container-img img {
	height: 500px;
	/* border-top: solid 2px rgb(0, 0, 0);
	border-left: solid 2px rgb(0, 0, 0); */
}

.container-institut .container-title-1 {
	background-image: linear-gradient(135deg, #08080869 10%, #00000017 60%);
	height: 380px;
	width: 300px;
	color: #333;
	margin-left: 50px;
}

.container-institut .container-title-1>p {
	font-size: 1.2em;
	font-family: 'Mali', cursive;
	text-align: center;
	padding-top: 8px;
	padding-left: 40px;
}

.container-institut .container-title-1 .container-txt {
	background: rgba(255, 0, 0, 0.295);
	height: 360px;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.9em;
	font-family: 'Mali', cursive;
	margin-left: 25px;
	padding: 10px;
}

/*test*/
/*prestations*/
.container-prestations {
	width: 100%;
	height: 600px;
	margin-top: 80px;
	margin-left: 12.5%;
	/* background-image: url("../ressources/images/photo16.png");
	background-repeat: no-repeat; */
	/* background-size: cover; */
}

.container-prestations .place-prestations {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container-prestations .place-prestations-1 {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container-prestations .prestations {
	width: 200px;
	height: 200px;
	background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
	border-radius: 50%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 20px 0 #0000003b;
	/* text-shadow: 1px 1px 1px #333; */
	font-family: 'Mali', cursive;
	color: #333;
}

.container-prestations .prestations:hover {
	transform: scale(1.2);
	background-image: linear-gradient(135deg, #08080869 10%, #00000017 60%);
}

.container-prestations .place-prestations .prestations div {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	background: #fff;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.container-prestations .place-prestations-1 .prestations div {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	background: #fff;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.container-prestations .place-prestations-1 .prestations div a {
	color: #333;
	text-decoration: none;
}

.container-prestations .place-prestations .prestations div a {
	color: #333;
	text-decoration: none;
}

.container-prestations .place-prestations .prestations div a:hover {
	color: rgba(255, 0, 0, 0.295);
}

.container-prestations .place-prestations-1 .prestations div a:hover {
	color: rgba(255, 0, 0, 0.295);
}

/*end prestations*/
/*carte cadeau*/
.container-cadeau {
	width: 1080px;
	height: 400px;
}

.container-cadeau .cadeau {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.container-cadeau .cadeau div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.container-cadeau .cadeau .p-cadeau {
	display: flex;
	flex-direction: column;
	font-family: 'Mali', cursive;
}

.container-cadeau .cadeau .p-cadeau .lien-cadeau {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	font-size: 1em;
}

.container-cadeau .cadeau .p-cadeau p {
	font-size: 1.1em;
}

.container-cadeau .cadeau .p-cadeau .lien-cadeau a {
	color: #333;
}

/*end carte cadeau*/
/*footer*/
footer {
	background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
	height: 250px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	border-radius: 85% 85% 0 0 / 30%;
	margin-top: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.logo-footer {
	text-align: center;
	height: 40px;
	color: #FFF;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-footer a {
	text-decoration: none;
	color: #333;
}

.text-center {
	width: 100%;
}
.list-inline {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.list-inline li a {
	margin: 5px;
}

/*end footer*/
/*Others pages*/
/*Intro épilations*/
.container-intro {
	width: 100%;
	height: 200px;
	border-top: solid 1px rgba(247, 117, 117, 0.5);
	border-bottom: solid 1px rgba(247, 117, 117, 0.5);
	margin-top: 20px;
	padding-top: 8px;
}

.container-intro div h1 {
	margin: 0;
}

.container-intro>div {
	text-align: center;
	padding: 0;

}

.container-intro div>p {
	font-size: 0.9em;
	padding-top: 0;
}

.radius-img {
	border-radius: 0 0 85% 85% / 30%;
	width: 100%;
	;
}

/*end Intro épilations*/
/*tarifs épilations*/
table {
	width: 100%;
	font-family: 'Mali', cursive;
	margin-top: 30px;
}

.table-center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.txt-font {
	color: rgb(247, 117, 117);
	text-shadow: 1px 1px 1px #333;
	font-size: 1.2em;
}

/*end tarifs épilations*/
/*map*/
iframe {
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 200px;
	width: 980px;
	height: 400px;
	border: 0;
}

/*infos contact*/
.content-contact {
	text-align: center;
	font-family: 'Mali', cursive;
}

.content-contact h2 {
	padding-top: 50px;
	padding-bottom: 10px;
	color: rgb(247, 117, 117);
}

.content-contact p {
	padding: 0;
	margin: 0;
}

/*formulaire de contact*/
form {
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	font-family: 'Mali', cursive;
}

form div+div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 90px;
	text-align: left;
}

input,
textarea {
	font-size: 1em;
	width: 360px;
	box-sizing: border-box;
	border: 1px solid rgb(247, 117, 117);
	border-radius: 15px;
}

input:focus,
textarea:focus {
	border-color: rgb(247, 117, 117);
}

.button {
	padding-left: 90px;
}

button {
	margin-left: .5em;
}